<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>

	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" 
		rel="stylesheet" media="screen"
		th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />  
	 		
	<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
	  th:href="@{js/jquery-3.2.1.js}" ></script>
	  
	<link th:href="@{css/custom.css}" rel="stylesheet" media="screen" />
</head>
<body>

 
	<div class="row" th:fragment = "searchStudentComp">
				<div class="pannel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title" th:text="#{common.heading.search.students}">Search Students hardcoded </h1>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.firstname}">First Name:</label>
									<input type="text" name="firstName" class="form-control" th:field="*{firstName}" />
								</div>
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.lastname}" >Last Name</label>
									<input type="text" name="lastName" class="form-control" th:field="*{lastName}" />
								</div>
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.student.phone}" >Phone Number</label>
									<input type="text" name="lastName" class="form-control" th:field="*{phone}" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.fathername}">Father Name:</label>
									<input type="text" name="fatherName" class="form-control" th:field="*{fatherName}" />
								</div>
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.mothername}" >Mother Name</label>
									<input type="text" name="motherName" class="form-control" th:field="*{motherName}" />
								</div>
								<div class="col-md-4 form-group" >
									<label th:text="#{registerStudent.label.student.email}" >Email</label>
									<input type="text" name="email" class="form-control" th:field="*{email}" />
								</div>
							</div>
							<div class="row">
								<div class="row-md-12 form-group" align="center" >
									<button type="submit" class="btn btn-primary" style= "text-align: center;" >Submit</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
 

</body>
</html>